
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
    .secondary-bg{
        background-color:  #FFF8F3;
    }
    .text-primary{
        color: #FD6E0A;
    }
    .dark-2{
        color: #474747;
    }
    .btn-primary{
        background-color: #FD6E0A;
        padding: 18px 36px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 5px;
        border: none;
    }
    .section-title{
        font-size: 35px;
        font-weight: bold;
        color: #181818;
    }
    .section-description{
        font-size: 18px;
        color: #757575;
    }
    .text-center{
        text-align: center;
    }
    /* Header styles */
    .header{
        background-image: url('../images/developer.png'), url('../images/header_bg.png');
        margin-left: 23px;
        margin-top: 38px;
        background-repeat: no-repeat;
        background-position: top left, bottom right;
    }
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    font-weight: bold;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
.banner-content{
    max-width: 550px;
    margin-left: 70px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    color: #757575;
}
.banner-profile-pic{
    width: 550px;
}
/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 80px;
    
}
.about-content{
    border: 1px solid black;
    padding: 5px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section styles */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 10px;
}
.text{
    margin-bottom: 50px;
    margin-top: 150px;
}

/* resume section styles */
.resume-container{
    display: flex;
    gap: 20px;
}
.experience-subtitle{
    font-size: 20px;
    margin-bottom: 20px;
}
.experience-descriptio, .experience-subtitle{
    color: #757575;
    font-size: 16px;
}
.resume hr{
    margin: 30px 5px;
}
.download-cv-btn{
    margin-top: 50px;
}
.section-title{
    margin-top: 120px;
    margin-bottom: 113px;
}
/* Footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 106px;

}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
#footer-title{
    margin-bottom: 20px;
}